<div class="row">
  <div class="col-md-6">
    <h3>Day 1 - Saturday</h3>
    <table class="table table-striped">
      <tr> <td>03:00pm</td>  <td>Setup</td> </tr>
      <tr> <td>03:15pm</td>  <td>Running and Quitting</td> </tr>
      <tr> <td>03:30pm</td>  <td>Variables and Assignment</td> </tr>
      <tr> <td>03:50pm</td>  <td>Data Types and Type Conversion</td> </tr>
      <tr> <td>04:15pm</td>  <td><b>15-min Break</b></td> </tr>
      <tr> <td>04:30pm</td>  <td>Built-in Functions and Help</td> </tr>
      <tr> <td>04:55pm</td>  <td>Libraries</td> </tr>
      <tr> <td>05:15pm</td>  <td>Reading Tabular Data into DataFrames</td> </tr>
      <tr> <td>05:35pm</td>  <td><b>Dinner!</b></td> </tr>
      <tr> <td>06:35pm</td>  <td>Pandas DataFrames</td> </tr>
      <tr> <td>07:05pm</td>  <td>Plotting</td> </tr>
      <tr> <td>07:35pm</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2 - Sunday</h3>
    <table class="table table-striped">
      <tr> <td>11:00am</td>  <td>Lists</td> </tr>
      <tr> <td>11:20am</td>  <td>For Loops</td> </tr>
      <tr> <td>11:45am</td>  <td>Looping Over Data Sets</td> </tr>
      <tr> <td>12:00pm</td>  <td><b>Coffee break!</b></td> </tr>
      <tr> <td>12:15pm</td>  <td>Writing Functions</td> </tr>
      <tr> <td>12:40pm</td>  <td>Variable Scope</td> </tr>
      <tr> <td>01:00pm</td>  <td><b>Lunch!</b></td> </tr>
      <tr> <td>02:00pm</td>  <td>Conditionals</td> </tr>
      <tr> <td>02:25pm</td>  <td>Programming Style</td> </tr>
      <tr> <td>02:55pm</td>  <td>Wrap-Up</td> </tr>
      <tr> <td>03:15pm</td>  <td>Feedback</td> </tr>
      <tr> <td>03:30pm</td>  <td>END</td> </tr>
      <!--tr> <td>16:30</td>  <td><a href="{{ site.swc_post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop Survey</a></td> </tr-->
    </table>
  </div>
</div>
